<!-- index.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="super_container">
    <!-- Home content -->
    <div class="home">
        <!-- Home slider content -->
    </div>



  

    <!-- Rest of your page content -->
    <div class="intro">
        <!-- Intro content -->
    </div>

    <!-- Destinations -->
    <div class="destinations" id="destinations">
        {% for dest in dests %}
            <!-- Destination items -->
        {% endfor %}
    </div>

    <!-- Other sections -->
</div>
{% endblock %}